body {
  background-color: #000;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 25px;
  margin: 25px;
}

.container {
  background-color: #5b5b5b;
  justify-content: center;
  height: 2500px;
  align-items: center;
  border-radius: 50px;
}

h1 {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  font-size: 28px;
}

  