@import url('https://fonts.googleapis.com/css?family=Press+Start+2P'); /*Import Font*/

body {
  background-color: #111;
  height: 50px;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.headercontainer {
  background-color: #222;
  height: 75px;
  align-items: center;
  border-bottom: 2px solid #666;
}

.nav-links {
  font-family: 'Press Start 2P', monospace;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}


.container {
  margin: 25px;
  margin-top: 100px;
  background-color: #333;
  justify-content: center;
  height: 2500px;
  align-items: center;
  border-radius: 50px;
}
.lunarwave {
  color: #F6C4D2;
}
h1 {
  font-family: 'Press Start 2P', monospace;
  color: #FFF;
  text-align: center;
  padding-top: 10px;
  font-size: 75px;
}
p {
  font-family: 'Press Start 2P', monospace;
  color: #FFF;
  margin: 25px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #FFF;
}