@import url('https://fonts.googleapis.com/css?family=Press+Start+2P'); /*Import Font*/

body {
  background-color: #030201;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 50px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.headercontainer {
  background-color: #666666;
  height: 75px;
  border-radius: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}


.container {
  margin: 25px;
  background-color: #b7b7b7;
  justify-content: center;
  height: 2500px;
  align-items: center;
  border-radius: 50px;
}

h1 {
  font-family: 'Press Start 2P', monospace;
  color: #ca84ff;
  text-align: center;
  font-size: 75px;
}
p {
  font-family: 'Press Start 2P', monospace;
  color: #575757;
  margin: 25px;
  font-size: 25px;
}
  